<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{
      url_for('static', filename='css/index.css')
    }}">


    <title>TECOLOGY</title>
  </head>
  <body>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <div class="container">
      <h1><strong>TECOLOGY</strong> Automated Insect Monitoring</h1>
      <div class="row">

        <div class="col">
          <h2>Live feed</h2>
          <img id="image" src="{{ url_for('static', filename='latest.jpg') }}" alt="Image 1" class="img-fluid">
        </div>

        <div class="col-6">
          <h2>Seneste vejrdata</h2>
          <div id="log"></div>
          <div class="row">
            <div class="col">
              <h2>Seneste detektioner</h2>
              Bla bla bla
            </div>
          </div>


          <!-- <script src="index.js"></script> -->
          <script type=text/javascript src="{{
            url_for('static', filename='js/index.js')
          }}"></script>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h2>Oversigt</h2>
          <h3>Hallo</h3>
          <div id="log2"></div>


        </div>
 
        <div class="col">
        <h2>Artsinfo</h2>
      </div>
      </div>

        <!-- <div class="col">

        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ url_for('static', filename='images/dblbSvirre.jpg') }}">
          <div class="card-body">
            <h5 class="card-title">Mørk jordhumle</h5>
            <p class="card-text">Arten er en de mest almindelige humlebier i Danmark. Humlebierne har et-årige samfund og få overvintrende dronninger fører slægten videre året efter.</p>
          </div>
        </div>
      </div>

          <div class="col">

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dobbeltbånde svirreflue</h5>
              <p class="card-text">Arten er almindelig i Danmark, men dens hyppighed skyldes primært migration sydfra i forsommeren. Larven er en vigtig prædator på bladslus, også i dyrkede afgrøder.</p>
            </div>
          </div>
        </div>
      </div>
 -->


      <div class="row">
        <div class="col">
          <hr class="bg-dark border-2 border-top border-dark">
          TECOLOGY info tekst. Systemet udvikles af den Aarhusianske start-up virksomhed Tecology (www.tecology.ai). Et grønt område på taget af denne bygning overvåges med et kamerasystem. Systemet anvender kunstig intelligens til at detektere og artsbestemme insekter. Den nuværende model kender x forskellige arter. Lidt om fejl. I takt med at data indsamles, kan modellen forbedres og udvides til andre arter.
        </div>
    </div>
  </div>
  </body>
</html>